#info img{
    height: 450px;
}
#my-skills img{
    width: 80px;
    height: 80px;
}
.skills-data img{
    margin: 5px;
}   
@media (max-width: 687px) {
    .data-media{
        width: 100% !important;
        padding: 25px 0;
    }
}